<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataTableEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataTableEditor.Properties.Settings>
            <setting name="dbfilepath" serializeAs="String">
                <value>defaultdb.txt</value>
            </setting>
            <setting name="defaultserverip" serializeAs="String">
                <value>10.50.149.13</value>
            </setting>
        </DataTableEditor.Properties.Settings>
    </userSettings>
</configuration>